body {
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)),
        url('img/bg.png');
    background-repeat: repeat;
    background-color: #000;
    font-family: sans-serif;
    color: #eaeaea;
    margin: 2rem;
}

h1, h2 {
    text-align: center;
    color: #ffffff;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
    padding: 0;
    width: 60%;
    margin: 0 auto;
}

li {
    background: #2a2a2a;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

a {
    color: #d4af37;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: 
        transform 0.2s ease-in-out,
        text-shadow 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

a:hover {
    transform: scale(1.08);
    text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700;
    color: #fff8dc;
}

.book-info {
    flex: 1;
}

.book-info h2 {
    margin: 0;
    color: #f5f5f5;
}

.book-info h2 a {
    color: #f5f5f5;
    text-decoration: none;
}

.book-info h2 a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.date {
    color: #aaa;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.rating {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.opinion {
    margin-top: 0.7rem;
    font-style: italic;
    color: #ccc;
}

.corner-image {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.corner-image img {
    width: 200px;
    height: auto;
    opacity: 0.9;
    box-shadow: none;
    border-radius: none;
}

.subway-gif {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
    width: 200px; /* Размер можно менять */
    height: auto;
    pointer-events: none; /* Чтобы не мешал нажимать на другие элементы */
    opacity: 0.9;
}

.subway-gif img {
    width: 100%;
    height: auto;
}
